<div class="mt-4">
  <h3>Sản phẩm đã xoá</h3>
  <a href="/me/stored/products">Danh sách sản phẩm</a>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên sản phẩm</th>
        <th scope="col">Hình ảnh</th>
        <th scope="col" colspan="2">Giá</th>
        {{! <th scope="col" colspan="2">Thời gian tạo</th> }}
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td><img
              src="{{this.image}}"
              alt="{{this.name}}"
              style="width:100px;height:100px;"
            /></td>
          <td>{{this.price}}</td>
          <td>
            <a
              href=""
              class="btn btn-success btn-restore"
              data-id="{{this._id}}"
            >Khôi phục</a>

            <a
              href=""
              class="btn btn-danger"
              data-toggle="modal"
              data-target="#delete-product-modal"
              data-id="{{this._id}}"
            >Xoá vĩnh viễn</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td style="text-align: center;" colspan="5">Thùng rác trống.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! confirm delete course }}

<div id="delete-product-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoá sản phẩm vĩnh viễn</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xoá sản phẩm này vĩnh viễn!!</p>
      </div>
      <div class="modal-footer">
        <button
          id="btn-delete-product"
          type="button"
          class="btn btn-danger"
        >Xoá</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Huỷ</button>
      </div>
    </div>
  </div>
</div>

{{! 
  form delete }}

<form name="delete-product-form" method="POST">
</form>
<form name="restore-product-form" method="POST">
</form>
{{! js code delete course }}
<script>
  document.addEventListener("DOMContentLoaded", function () {
  var productId;
  var deleteForm = document.forms['delete-product-form'];
  var restoreForm = document.forms['restore-product-form'];
  var btnDeleteProduct = document.getElementById('btn-delete-product');
  var restoreBtn = $('.btn-restore');

  // Event listener for modal show
  $("#delete-product-modal").on("show.bs.modal", function (event) {
    var button = $(event.relatedTarget);
    productId = button.data("id");
  });

  // Delete product button click event
  btnDeleteProduct.onclick = function () {
    deleteForm.action = "/products/" + productId + "/force?_method=DELETE";
    deleteForm.submit();
  };

  // Restore product button click events
  restoreBtn.click(function (e) {
      e.preventDefault();
      var productId = $(this).data('id');
      restoreForm.action = "/products/" + productId + "/restore?_method=PATCH";
      restoreForm.submit();
    })
});


</script>